<a href="https://colab.research.google.com/github/santiagovalencia999-bit/Informatica-1/blob/main/Unidad5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://github.com/sisaza/informatica/blob/master/Unidad5/images/Inf1_cabezotedocumentos.png?raw=1" alt="header"/>

# Unidad 5: Tipos de datos estructurados
### Autor: Sebastián Isaza Ramírez - Profesor UdeA

Hasta ahora se ha trabajado con 4 tipos de datos: `int`, `float`, `bool` y `string`. La Figura 1 muestra ejemplos de esos datos y su descripción. El tipo `string` tiene una propiedad especial que lo diferencia de los otros: es un tipo *arreglo*, es decir, es un tipo de dato que se compone de varios elementos a los que el lenguaje Python permite acceder mediante la primitiva de la indexación `[]`. Aunque con los `string` se tiene la gran ventaja de poder almacenar arreglos de cualquier tamaño, también existe una gran limitación: los elementos de un `string` solo pueden ser caracteres.

<img src="https://github.com/sisaza/informatica/blob/master/Unidad5/images/Inf1-u5-fig-1.png?raw=1" alt="Tipos de datos" width="600"/>

                         Fig. 1. Tipos de datos vistos hasta el momento: `int`, `float`, `bool` y `string`

Si en un programa se necesita crear un arreglo de números enteros o reales, o quizas un arreglo mixto donde algunos elementos sean números y otros booleanos o cadenas, se deben utilizar otros tipos de datos del lenguaje.

En este capítulo se verán tres tipos de datos adicionales que permiten crear arreglos de características mucho más flexibles que los `string`. Estos son las **listas** y los **diccionarios**.

### Tabla de contenido


[5.1 Listas](#sec5.2)

[5.2 Mutabilidad](#sec5.3)

[5.2.1 Clonación y aliasing](#sec5.3.1)

[5.2.2 Cadenas vs. listas](#sec5.3.2)

[5.3 Diccionarios](#sec5.4)

[5.3.1 Operaciones con diccionarios](#sec5.4.1)

<a id='sec5.1'></a>
## 5.1 Listas
Las listas permiten crear arreglos cuyos elementos pueden ser de cualquier tipo de dato. Tienen una importante característica que las diferencia de las cadenas: son objetos de datos mutables. En la próxima sección se estudiará la mutabilidad y sus implicaciones, pero por el momento se puede decir que con las listas es posible indexar un elemento y modificarlo directamente, como se ve en la línea 6 del siguiente código:

In [ ]:
cad = "hola"
list1 = [9]
list2 = [4, 'free', 8.4]
#print(list2[1][2])

list3 = [list2, True]
#print(list3[0][1][1])

list4 = list3 + [4, -7.8]
print("list4:", list4)

#print(list2)
#list2[1] = 6.34 # indexación de un elemento para modificar su valor

#print("list3[2]:", list4[2])
#print("list3[0]:", list4[0])

print(list4[:-2])

list4: [[4, 'free', 8.4], True, 4, -7.8]
[[4, 'free', 8.4], True]

Si se intenta modificar un elemento de un `string`, como se muestra en el código anterior, el programa se detendrá con un error, pues esta no es una operación permitida para esos tipos de datos. Para las listas sí.

Las listas en Python vienen acompañadas de un conjunto de métodos para procesarlas. La Figura 2 muestra algunos de los principales métodos, donde los únicos que no modifican la lista son `count()` e `index()`. La utilización de cualquiera de los restantes implica una modificación directa en la lista y, por lo tanto, son métodos que no están disponibles para las cadenas.

<img src="https://github.com/sisaza/informatica/blob/master/Unidad5/images/Inf1-u5-fig-2.png?raw=1" alt="Métodos asociados a listas" width="600"/>

                                           Fig. 2. Algunos métodos asociados a las listas

In [ ]:
nums = [6, 3, 9, 3, 4, 9]
#append
#print(nums)
#nums.append([2, 5, 3])
print(nums)
#print(nums[4][0])
#count
#print(nums.count(3))
#insert
#nums[5].insert(1, [7, 4, 1])
#extend
#nums.append([0, 9])
#nums.extend([0, 9])
#remove
#nums.remove(6)
#index
#print(nums.index(9))
#pop
#nums.pop(4)
#sort
nums.sort()
print(nums)
#nums.reverse()
#print(nums)
print(nums[2])

[6, 3, 9, 3, 4, 9]
[3, 3, 4, 6, 9, 9]
4

In [ ]:
# Construir una lista sin duplicados a partir de otra existente.
lista1 = [3, 6, 3, 8, 9, 6, 6, 6, 6, 3, 3, 3]
# [3, 6, 8, 9]
#for x in lista1:
c = 0
while True:
  k = lista1[c]
  count = lista1.count(k)
  for i in range(count):
    lista1.remove(k)
  lista1.insert(c, k)
  print(len(lista1), c)
  c = c + 1
  if c >= len(lista1):
    break


print(lista1)

8 0
4 1
4 2
4 3
[3, 6, 8, 9]

In [ ]:
# Mostrar cada nombre con su correspondiente edad, que están guardadas en dos listas independientes.
nombres = ["Alejandro", "Carolina", "Juan"]
edades = [30, 33, 29]
long = len(nombres)
for i in range(long):
  print(nombres[i], edades[i])

Alejandro 30
Carolina 33
Juan 29

In [ ]:
# Encontrar la palabra más larga en una lista.
palabras = ["teclado", "pantalla", "mouse", "cpu", "memoria"]
long_max = 0
for pal in palabras:
  if len(pal) > long_max:
    long_max = len(pal)
    pal_max = pal

print(pal_max)

pantalla

<a id='sec5.2'></a>
## 5.2 Mutabilidad
La mutabilidad es la propiedad de un objeto de datos de Python de ser modificado. Se debe recordar que una cosa es el objeto de datos y otra cosa son los nombres o identificadores que se les da a estos. Todos los nombres pueden cambiar, es decir, siempre se puede asociar un nombre de una variable a otro objeto de datos al que estaba asociado previamente. El nuevo objeto de datos puede ser del mismo tipo o de otro. Incluso, un nombre que en un momento estaba asociado a un entero, por ejemplo, podría luego asociarse a una función, como se muestra en el siguiente código.

In [ ]:
def f(x):
    x = x + 1
    return x

k = 9 # el nombre de variable k se asocia a un dato int
k = f # el nombre k ahora se asocia a la función f
h = k(6) # se invoca la función k(), que es la misma que f()
print(h)

7

De otra parte, los datos que se asocian a los nombres, pueden ser mutables o inmutables. Los `int`, `float`, `bool`, `str` y `tuple`, son todos datos inmutables. Los datos tipo `list`, en cambio, son mutables. Pueden modificarse directamente como se vio en la sección anterior.

<a id='sec5.2.1'></a>
### 5.2.1 Clonación y aliasing

La clonación es una operación en la que se crea una copia de un objeto de datos mutable. Por ejemplo, usando la primitiva de segmentación o la función built-in `list()`, se pueden tomar todos los elementos de una lista para crear una copia, así:

In [ ]:
x = [2, 4]
y = x
print(y)
# x = x + 1
x.append(6)
# y?
print(y)

[2, 4]
[2, 4, 6]

In [ ]:
li = [11, 13, 17, 19]

licop1 = li[:] # clonación con segmentación
licop1[2] = 0
print(li, licop1)

licop2 = list(li) # clonación con función list()
licop2[2] = 2
print(li, licop2)

licop3 = li
licop3[2] = 4
print(li, licop3)

[11, 13, 17, 19] [11, 13, 0, 19]
[11, 13, 17, 19] [11, 13, 2, 19]
[11, 13, 4, 19] [11, 13, 4, 19]

Si en el código anterior se escribiera en cambio `licop = li`, se estaría asociando el nombre `licop` al mismo objeto de datos que está asociado `li`, no a una copia suya. Aunque esta diferencia puede parecer menor, en realidad tiene una implicación muy importante que se conoce como el efecto **aliasing**. Éste se da cuando dos nombres están asociados con un mismo objeto de datos mutable; cuando esto sucede, es posible modificar el objeto de datos a través de cualquiera de los dos nombres (variables).

En el siguiente código los casos 1 y 2 muestran la diferencia en la implicación que tiene la instrucción `y = x` cuando el dato asociado a `x` es inmutable (caso 1) y mutable (caso 2). En el caso 1, la instrucción de la línea 5 hace que el nombre `y` se asocie a un nuevo objeto de datos creado a partir de una copia de `'Guido'` que se concatena con la cadena `' van Rossum'`. Al imprimir los datos asociados a `x` y `y` en la línea 6, se demuestra que son diferentes. En el caso 2 se asocia a `x` un dato mutable (una lista), por lo que la instrucción de la línea 12, que modifica la lista asociada a `y`, también modifica a `x`, dado que son en realidad la misma lista. Al imprimir los datos asociados a `x` y `y` en la línea 13, se demuestra que son iguales, a diferencia del caso 1.

In [ ]:
# Caso 1: cambio en copia de dato inmutable NO cambia original
x = 'Guido'
y = x
print("x and y BEFORE concatenation: ", x, y) # Guido Guido
y = y + ' van Rossum'
print("x and y AFTER concatenation: ", x, y) # Guido Guido van Rossum

x and y BEFORE concatenation:  Guido Guido
x and y AFTER concatenation:  Guido Guido van Rossum

In [ ]:
# Caso 2: cambio en alias de dato mutable SÍ cambia original
x = [1, 2, 3]
y = x
print("x and y BEFORE extension: ", x, y) # [1, 2, 3] [1, 2, 3]
y.extend([4, 5])
print("x and y AFTER extension: ", x, y) # [1, 2, 3, 4, 5] [1, 2, 3, 4, 5]

x and y BEFORE extension:  [1, 2, 3] [1, 2, 3]
x and y AFTER extension:  [1, 2, 3, 4, 5] [1, 2, 3, 4, 5]

#### Tipos mutables como argumentos de funciones
Otro fenómeno importante que se deriva de los datos mutables está relacionado con el uso de argumentos mutables al invocar una función. Si se recuerda que al pasarle los argumentos a una función lo que se está haciendo es una operación de asignación, se puede entonces ver que esta tendrá implicaciones diferentes cuando el argumento es mutable. Cuando el argumento es inmutable, la variable local (el parámetro) que recibe el argumento simplemente se comportará como una copia del mismo y no será posible modificar la variable que se usó como argumento.

El siguiente código muestra dos casos en los que se invocan funciones con argumentos mutables e inmutables para comparar sus efectos. En el caso 1, el argumento es una cadena (inmutable) y a pesar de que en la función la variable local `val` es modificada, la variable global `x` permanece igual ya que es inmutable. En el caso 2, el argumento es una lista (mutable) que al ser modificada dentro de la función `func2()` se modificará también el valor de `x`, ya que son la misma lista.

In [ ]:
# Caso 1: cambio en argumento de dato inmutable NO cambia original
def func(val):
    print("val: ", val) # Guido
    val = val + ' van Rossum'
    print("val: ", val) # Guido van Rossum

x = 'Guido'
print("x: ", x) # Guido
# val = x
func(x)
print("x: ", x) # Guido

x:  Guido
val:  Guido
val:  Guido van Rossum
x:  Guido

In [ ]:
# Caso 2: cambio en argumento de dato mutable SÍ cambia original
def func2(val):
    print("val: ", val) # [1, 2, 3]
    val.extend([4, 5])
    print("val: ", val) # [1, 2, 3, 4, 5]

x = [1, 2, 3]
print("x: ", x) # [1, 2, 3]
# val = x
func2(x[:])
print("x: ", x) # [1, 2, 3, 4, 5]

x:  [1, 2, 3]
val:  [1, 2, 3]
val:  [1, 2, 3, 4, 5]
x:  [1, 2, 3]

<a id='sec5.2.2'></a>
### 5.2.2 Cadenas vs. listas

Ya se han estudiado las cadenas y las listas, y se puede decir que comparten una característica común que las diferencia de los enteros, los reales y los booleanos. Dicha característica es que son arreglos de datos a los que se puede acceder elemento por elemento con primitivas del lenguaje.

La Figura 3 resume algunas de las principales operaciones que se pueden hacer de manera idéntica con cadenas o listas.

<img src="https://github.com/sisaza/informatica/blob/master/Unidad5/images/Inf1-u5-fig-3.png?raw=1" alt="Operaciones con listas" width="500"/>

                                 Fig. 3. Algunas operaciones comunes a cadenas y listas

Por otra parte, la Figura 4 permite comparar las diferencias básicas entre estos tipos de datos. Como se ve, la única diferencia entre las str y las listas es la mutabilidad.

![Inf1-u5-fig-4.png]()

                                                Fig. 4. Diferencias básicas entre cadenas y listas

Finalmente, la Figura 5 resalta las ventajas del tipo `str`. De las comparaciones anteriores podría parecer que las cadenas de caracteres no tienen ventajas sobre las listas. Sin embargo, debido a que con mucha frecuencia los programadores necesitan construir algoritmos y programas que procesen información en forma de texto, el tipo `str` ofrece una serie de funciones que permiten ejecutar operaciones comunes con cadenas de texto.

<img src="https://github.com/sisaza/informatica/blob/master/Unidad5/images/Inf1-u5-fig-5.png?raw=1" alt="Métodos asociados a str" width="700"/>

                                                 Fig. 5. Ventajas del tipo `str`

In [ ]:
x = "Esta es la primera frase. Esta es la segunda. Y la tercera."
y = x.split(". ")
print(y)
for i in range(len(y)):
  if y[i][-1] != ".":
    y[i] = y[i] + "."
print(y)

['Esta es la primera frase', 'Esta es la segunda', 'Y la tercera.']
['Esta es la primera frase.', 'Esta es la segunda.', 'Y la tercera.']

In [ ]:
y = [[2, 4], [6, 8], [8, 10]]
for i in range(len(y)):
  y[i][-1] = y[i][-1] + 1
print(y)

[[2, 5], [6, 9], [8, 11]]

<a id='sec5.3'></a>
## 5.3 Diccionarios
Los diccionarios (`dict`) son un tipo de dato arreglo mutable que, al igual que las listas, permite combinar elementos de diferentes tipos. La diferencia de los diccionarios está en la manera como se accede a los elementos que lo componen. En lugar de indexar con un número entero que representa el lugar del elemento en el arreglo (como se hace en las listas), en los diccionarios, a cada elemento se le asigna una etiqueta que puede ser cualquier dato inmutable, tal como un `int` o un `str`. A estas etiquetas que identifican los elementos del diccionario se les llama **claves** y a los elementos **valores**. Cada elemento de un diccionario está entonces conformado por una pareja clave-valor (key-value en inglés).

<img src="https://github.com/sisaza/informatica/blob/master/Unidad5/images/Inf1-u5-fig-6.png?raw=1" alt="Diccionario vs lista" width="700"/>

                                        Fig. 6. Diferencias entre un diccionario y una lista

In [ ]:
ced = 3453435484
personas = {4458415675: "Carlos Maya", 3453435484: "Andrés Caro", 6284613571: "Hernán Parra", 1456132187: "Julia Mora"}
print(personas[ced])

personas = [[4458415675, "Carlos Maya"], [3453435484, "Andrés Caro"], [6284613571, "Hernán Parra"], [1456132187, "Julia Mora"]]
for per in personas:
  if per[0] == ced:
    print(per[1])

Andrés Caro

La Figura 6 ilustra las diferencias que hay entre un diccionario y una lista. En el ejemplo mostrado de la lista, cada elemento que es un `str` con el nombre de una persona. Cada uno de esos elementos tienen una posición en la lista, un orden. El primer elemento es `"Andrés Caro"`, el segundo `"Julia Mora"` y así. Si se quiere acceder al elemento `"Julia Mora"` hay que indexar la lista indicando el índice `[2]`. En el diccionario, para acceder a `"Julia Mora"` se debe especificar su clave (no existe índice) que en este caso es `[1456132187]`. Por su puesto, la clave debe ser única en el diccionario, de lo contrario, al especificar una clave se estaría accediendo dos valores diferentes. En el ejemplo mostrado, se puede pensar que la clave es la cédula de la persona.

El siguiente código muestra ejemplos de la sintaxis de los diccionarios. La línea 1 muestra cómo se puede asignar un diccionario literal a una variable. Se utilizan entonces las llaves `{}` y cada elemento debe estar compuesto por una pareja clave-valor separada por dos puntos `:`. Los elementos de un diccionario se separan por comas `,`, al igual que en listas. Para acceder a los elementos de un diccionario se utilizan corchetes `[]`, al igual que en todos los tipos de arreglo, pero en lugar de poner un índice (número entero) entre los corchetes, se debe poner una clave.

En el ejemplo mostrado se crea un diccionario para relacionar los meses con la cantidad de días que tienen. El nombre de cada mes es la clave y los días el valor. No podría ser al contrario ya que hay varios meses que tienen 31 días.

In [ ]:
monthsdays = {'enero':31, 'febrero':28, 'marzo':31, 'abril':30, 'mayo':31}
print(monthsdays['febrero'])
print(monthsdays['abril'])
m = input('Ingrese un mes: ')
print('El mes', m.title())
print( 'tiene', monthsdays[m.lower()], 'días')

28
30
Ingrese un mes: enERo
El mes Enero
tiene 31 días

En el siguiente código se muestra cómo se puede iterar sobre un diccionario al igual que con cualquier otro arreglo. En este caso, es importante aclarar que en la variable `e` va a almacenarse una clave en cada iteración, más no los valores. En otras palabras, al iterar sobre un diccionario lo que se hace es acceder a sus claves y si se quiere acceder a los valores correspondientes, es necesario hacerlo explícitamente con los corchetes como se muestra en el ejemplo.

In [ ]:
monthsdays = {'enero':31, 'febrero':28, 'marzo':31, 'abril':30}
for e in monthsdays:
    print(e, monthsdays[e])

enero 31
febrero 28
marzo 31
abril 30

<a id='sec5.3.1'></a>
### 5.3.1 Operaciones con diccionarios

La Figura 7 muestra algunas de las operaciones más comunes con diccionarios. Nótese que el operador `in` actúa sobre las claves y no sobre los valores, tanto en los `if` como en los `for`. También es importante resaltar que para crear un nuevo elemento en un diccionario no existe una función como `append()` en las listas. Simplemente basta con asignarle un valor a una clave. Si la clave ya existe, se convierte en una operación de modificación del valor de dicha clave. Si la clave no existe, entonces crea un nuevo elemento con la pareja clave-valor especificada, como se muestra en la tabla.

<img src="https://github.com/sisaza/informatica/blob/master/Unidad5/images/Inf1-u5-fig-7.png?raw=1" alt="Operaciones con diccionarios" width="600"/>

                                            Fig. 7. Operaciones comunes con diccionarios

In [ ]:
metro = {"San Antonio": [12876, 10376], "Universidad": [9876, 7537], "Bello": [8967, 9234]}
print(len(metro))
print(list(metro.keys())[2])
print(list(metro.values())[0][0])
print(12876 in metro["San Antonio"])
print(metro["Bello"])
print(metro.get("Niquía", "Error"))
metro["Niquía"] = [3984, 2095]
print(metro["Niquía"])
#metro["Universidad"] = [0, 0]
metro["Universidad"][0] = metro["Universidad"][0] + 1
metro["Universidad"].append(13)
print(metro)
metro.pop("Universidad")
print(metro)
for est in metro:
  print(est)

print("Fin")

3
Bello
12876
True
[8967, 9234]
Error
[3984, 2095]
{'San Antonio': [12876, 10376], 'Universidad': [9877, 7537, 13], 'Bello': [8967, 9234], 'Niquía': [3984, 2095]}
{'San Antonio': [12876, 10376], 'Bello': [8967, 9234], 'Niquía': [3984, 2095]}
San Antonio
Bello
Niquía
Fin

In [ ]:
# guardar información tabulada en un diccionario
# nombres de columnas se usan como keys
personas_dict = {"edad":[20,30,26], "nombre": ["Ana", "Carlos", "Daniel"]}
#personas_listas = [[20, "Ana"], [30, "Carlos"], [26, "Daniel"]]

fila = personas_dict["nombre"].index("Ana")

c = 0
for nombre in personas_dict["nombre"]:
  if nombre == "Ana":
    break
  c = c + 1

personas_dict["edad"][fila]

20

#### Nota: las figuras y fragmentos de código presentados en esta Unidad son de autoría del profesor Sebastián Isaza Ramírez.